<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="org(item)">
    <table th:object="${item.data}">
        <tr>
            <th>Kortnavn</th>
            <th>Navn</th>
            <th>Kode</th>
            <th>Id</th>
            <th>Org.nummer</th>
        </tr>
        <tr>
            <td th:text="*{kortnavn}">kortnavn</td>
            <td th:text="*{navn}">navn</td>
            <td th:text="*{organisasjonsKode.identifikatorverdi}">kode</td>
            <td th:text="*{organisasjonsId.identifikatorverdi}">id</td>
            <td th:text="*{organisasjonsnummer?.identifikatorverdi}">orgnr</td>
        </tr>
    </table>
    <p>Overordnet: <span th:text="${item.overordnetId()}">over</span></p>
    <p>Underordnet: <span th:text="${#strings.listJoin(item.underordnetId(), ', ')}">under</span></p>
    <p>GyldighetsPeriode start: <span th:text="${item.data.gyldighetsperiode.getStart()}">Start:</span></p>
    <p>GyldighetsPeriode Slutt: <span th:text="${item.data.gyldighetsperiode.getSlutt}">Slutt:</span></p>
</div>
</body>
</html>
