<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="org(item)">
    <table th:object="${item.data}">
        <tr>
            <th>Navn</th>
            <th>Kortnavn</th>
            <th>Kode</th>
        </tr>
        <tr>
            <td th:text="*{kortnavn}">kortnavn</td>
            <td th:text="*{navn}">navn</td>
            <td th:text="*{organisasjonsKode.identifikatorverdi}">kode</td>
        </tr>
    </table>
</div>
</body>
</html>
