<!DOCTYPE html>
<html lang="no" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Organisasjonsendringer</title>
</head>
<body>
<div th:unless="${#lists.isEmpty(added)}">
    <h2>Følgende organisasjonselementer er nye:</h2>
    <ol>
        <li th:each="item: ${added}">
            <div th:include="element::org(${item})">...</div>
        </li>
    </ol>
</div>
<div th:unless="${#lists.isEmpty(updated)}">
    <h2>Følgende organisasjonselementer er endret:</h2>
    <ol>
        <li th:each="item: ${updated}">
            <table>
                <thead>
                <tr>
                    <th>Før</th>
                    <th>Etter</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div style="background-color: #ffb7bd" th:include="element::org(${item.v1})">...</div>
                    </td>
                    <td>
                        <div style="background-color: #dbffce" th:include="element::org(${item.v2})">...</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ol>
</div>
<div th:unless="${#lists.isEmpty(parentInfo)}">
    <h2>Overordnede organisasjonsenheter:</h2>
    <table>
    <tr>
        <th>Id</th>
        <th>Navn</th>
    </tr>
    <tr th:each="item: ${parentInfo}">
        <td th:text="${item.orgUnitId()}">...</td>
        <td th:text="${item.orgUnitName()}">...</td>
    </tr>
    </table>
</div>
</body>
</html>
